
$primary-color: rgb(124, 209, 90);
$nav-color: #f2f2f2;
$bg-nav: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
body{
    overflow-x: hidden;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: $nav-color;
    font-family: 'Poppins', sans-serif;
    .logo{
        color: $primary-color;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-size: 20px;

    }
    .redes{
        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            li{
                a{
                    img{
                        width: 20px;
                    }
                }
                margin-right: 5px;
            }
        }
    }
    .nav-links{
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 35%;
        li{
            a{
                // color: #000;
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 3px;
                color: #000;
                text-decoration: none;
            }
                opacity: 0; 
        }
        @media screen and (max-width:1024px){
            width: 50%;
        }
        // @media screen and (max-width:768px){
            position: absolute;
            right: 0;
            height: 92vh;
            top: 8vh;
            background-color: #f2f2f2;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            z-index: 999;
        }

    
    .nav-active{
        transform: translateX(0%);
    }
    .burger{
        div{
            width: 25px;
            height: 3px;
            margin: 3px;
            background-color: $primary-color;
            transition: all .3s ease-in-out;
            cursor: pointer;
        }
    }   
    .toggle{
        .line1{
            transform: rotate(-45deg) translate(-6px, 3px);
        }
        .line2{
            opacity: 0;
        }
        .line3{
            transform: rotate(45deg) translate(-5px, -3px);
        }
    }
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}